.blueSquare{
    width: 150px;
    height: 150px;
    background: royalblue;
    box-sizing: border-box;
    margin:25px;
    float: left;
}


.nav{
    background: lightgrey;
    width:100vh;
    height: 200px;
    
}

.textBox{
    padding: 50px 100px 70px 100px;
    font-family: sans-serif;
    font-size: 16px;
}

.colorBox{
    width:100vh;
    height: 200px;
}

#first{
    background: royalblue;
}

#second{
    background: cyan;
}

#third{
    background: yellowgreen;
}

#footer{
    background: yellow;
}